@import '../node_modules/@angular/material/theming';

@include mat-core();

$my-primary: mat-palette($mat-teal, 700);
$my-accent: mat-palette($mat-light-green, 700);

$my-theme: mat-lighttheme($my-primary, $my-accent);
@include angular-material-theme($my-theme);
